
<% if task.done === true%>
  <li class="task blue" id=<%= task.id %>>
    <%= task.task_body %>
  <span class="x-button">x</span>
  </li>
<% else %>
  <li class="task" id=<%= task.id %>>
   <%= task.task_body %>
  <a class="x-button">x</a>
  <a class="done-b" data=<%= task.id %>>done</a>
  </li>

<% end %>
