<table class='table table-hover table-dark'>
  <% if task.done === true%>
    <li class='task red' id=<%= task.id %>>
      <%= task.task_body %>
    <a class='x-button'>x</a>
    </li>
  <% else %>
    <li class='task' id=<%= task.id %>>
     <%= task.task_body %>
    <a class='x-button'>x</a>
    <a class='done-b' data=<%= task.id %>>done</a>
    </li>

  <% end %>
</table>
