<%= form_with(model: diary, local: true) do |f| %>
  <div class='field'>
  <p>Title</p>
    <% f.label :diary_title %>
    <%= f.text_field :diary_title, size: '30x5' %>
  </div>

  <div class='field'>
    <% f.label :diary_body %>
    <%= f.text_area :diary_body, size: '80x15' %>
  </div>

  <div class='field'>
    <%= f.attachment_field :diary_images_images, multiple: true, direct: true, presigned: true, class: 'attach_filed', type: 'file'  %>
  </div>

<div id='d_img'>
</div>
  <div class="actions ">
    <%= f.submit '● 投稿 ●', class: 'f_submit' %>
  </div>
<% end %>
