<div class='container'>
  <%= render 'layouts/flash' %>
  <h1>Diaries</h1>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>title</th>
          <th colspan='4'></th>
        </tr>
      </thead>
      <tbody>
        <% @diaries.each do |diary| %>
          <tr>
            <td><%= diary.diary_title %></td>
            <td><%= diary.diary_body %></td>
            <td><%= link_to 'Show', diary %></td>
            <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
            <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: '日記消えちゃうよ‎(´･ω･｀)?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <%= link_to 'New Diary', new_diary_path %>
</div>
