<div class='container'>
  <%# if @diary.diary_image != nil %>
    <%#= attachment_image_tag @diary, :diary_image,format: 'jpeg', class: 'img-circle profile-thumb my-img' %>
  <%# end %>
   <%= attachment_image_tag @diary, :diary_image ,format: 'jpg', class: 'img-circle profile-thumb my-img' %>
  <p>
    <strong>Diary</strong>
    <%= @diary.diary_title %>
  </p>
  <p>
    <%= @diary.diary_body %>
  </p>
  <%= link_to 'Edit', edit_diary_path(@diary) %> |
  <%= link_to 'Back', diaries_path %>
</div>

