<div class='container'>
  <% if :diary_image != nil %>
    <%= attachment_image_tag @user, :diary_image,format: 'jpeg',  size:'200x200', class: 'img-circle profile-thumb my-img' %>
  <% end %>
  <p>
    <strong>Diary</strong>
    <%= @diary.diary_title %>
  </p>
  <p>
    <%= @diary.diary_body %>
  </p>
  <%= link_to 'Edit', edit_diary_path(@diary) %> |
  <%= link_to 'Back', diaries_path %>
</div>

