<div class="container">
  <div class="row">
    <div>
      <%= render 'layouts/errors', hoge: @user %>
    </div>

    <img class='preview_cicle'>

      <%= form_for(@user) do |f| %>
       <%= f.attachment_field :profile_image, class: 'attach_filed' %>
        <p>id:
        <%=f.text_field :nick_name %></p>
        <p>bio</p>
        <%= f.text_area :biography, value: @user.biography  %>
        <p>性別
          <label><%= f.radio_button :gender, "男" %> ♂ </label>
          <label><%= f.radio_button :gender, "女" %>♀</label>
          <label><%= f.radio_button :gender, "秘密" %>内緒</label></p>
           <p>BD<%= f.date_field :bd, value: @user.bd %></p>
        <p>--------------------------------------------------------</p>
        <h3>非公開情報</h3>
         <p class='kana'><%= f.text_field :k_family_name %><%= f.text_field :k_my_name %></p>
        <p>姓名
           <%= f.text_field :family_name %><%= f.text_field :my_name %></p>
        <p>電話番号
          <%= f.telephone_field :phone_number,size:15 %></p>
        <p>email
          <%= f.text_field :email %></p>
        <!-- <p>パスワード -->
          <%# if @minimum_password_length %>
         <!--    <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
          <%# end %>
          <!-- <p>パスワード変更</p> -->
            <%#= f.password_field :password, autocomplete: "new-password" %>
          <!-- <p>確認</p> -->
            <%#= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
            <%= f.submit '編集ok', class: "btn btn-info" %>
      <% end %>
  </div>
</div>