  マイページだよ〜〜〜〜

<!-- これはあれ名前をばばばばばばってだすばばばばばばっば -->
<div class="container">
  <div class="row">
    <div class="col-lg-4">
    <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'200x200', class: 'img-circle profile-thumb my-img' %>
      <p>ユーザーネーム:
        <%= @user.user_name %></p>
       <p>description:
        <%= @user.biography %></p>
      <p>id:
      <%= @user.nick_name %></p>
      <p>lv:
          point:
      </p>
      <p>BD:
        <%= @user.bd %></p>
      <p class='kana'><%= @user.k_family_name %><%= @user.k_my_name %></p>
      <p>姓名:
        <%= @user.family_name %><%= @user.my_name %></p>
      <p>性別:
        <%= @user.gender %></p>
      <p>電話:
        <%= @user.phone_number %></p>
      <p>email
        <%= @user.email %></p>
        <%= link_to '編集', edit_user_path(@user.id) %>
        <%= link_to '日記',diaries_path %>
    </div>

    <div class="contents">
  <%= form_for @task, html: { class: 'form js-form' } do |f|%>
    <%= f.text_field :task_body, class: 'form__text-field js-form__text-field' %>
    <%= f.submit class: 'form__submit js-submit' %>
  <% end %>
  <ul class="tasks">
    <%= render @tasks %>
  </ul>
</div>
  </div>
</div>


<div id="calendarModal" class="m_fade">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
      <h1>予定</h1>
       <p>スケジュール表</p>
        <!-- <button type="button" class="close" data-dismiss="modal"> -->
          <button type="button" class="close" data-whatever="modal">
          <a class="button_x" aria-hidden="true" id=<%#= @event.id %>>x</a>
          <span class="sr-only">close！</span>
        </button>
        <span id="m_title" class="modal-title"></span>
      </div>
      <div id="m_body" class="modal-body"></div>
      <div id="m_foot" class="modal-footer"></div>
    </div>
  </div>
</div>

<div id="calendar"></div>