<%= form_with(model: event, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
  <br>
    <%= form.text_field :title, class: 'title' %>
  </div>

  <div class="field">
    <%= form.label :description %>
  <br>
    <%= form.text_area :description, class: 'description' %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
