<div class='container'>
  <div class='row'>
    <h1>Events</h1>
    <%= search_form_for @q do |f| %>
      <%= f.date_select :start_gteq, :default => Time.now  %>
        <span>〜</span>
      <%= f.date_select :start_lteq_end_of_day, :default => Time.now %>
      <%= f.submit '● 検索 ●', class: 'f_submit' %>
    <% end %>
  </div>
  <div class='row'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>内容</th>
        <th>Start</th>
        <th>End</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @event.each do |event| %>
        <tr data-href=<%= edit_event_path(event) %>>
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= event.start %></td>
          <td><%= event.end %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'カレンダーから消えちゃうよ！' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @event %>
  </div>
</div>
