<div class='container'>
  <div class='row'>
      <div class='col-lg-offset-1  col-lg-3'>
      <%= form_tag(admins_users_path, method: :get, enforce_utf8: false) do %>
        <%= text_field_tag :q, params[:q], placeholder: "æ¤œç´¢" %>
        <%= submit_tag "ðŸ”", class: " btn glyphicon glyphicon-search" %>
        <% end %>
      </div>
    </div>
  <%= render 'admins/users/user_index', users: @users%>
  <%= paginate @users, class: 'user_kaminari' %>
</div>