showだよ
<div class="container">
  <div class="row">
    <div class="col-lg-offset-4">
  <p>ユーザーネーム:
    <%= @user.user_name %></p>
  <p>id:
  <%= @user.nick_name %></p>
  <p class="kana"><%= @user.k_family_name %><%= @user.k_my_name %></p>
  <p>姓名:
    <%= @user.family_name %><%= @user.my_name %></p>
  <p>性別:
    <%= @user.gender %></p>
  <p>電話:
    <%= @user.phone_number %></p>
  <p>email
    <%= @user.email %></p>
    <%= link_to '編集', edit_admins_user_path(@user) %>
  <% if @user.decline == false %>
    <%= link_to '削除', admins_user_decline_path(@user), method: :patch, "data-confirm" => "本当に#{@user.user_name}さんを退会させる？" %>
  <% else %>
   <%= link_to '再開', admins_user_decline_path(@user), method: :patch, "data-confirm" => "本当に#{@user.user_name}さんを再開させるの？"  %>
  <% end %>
    </div>
  </div>
</div>

<!-- idと名前の下に画像を入れるかもはや背景をそいつのアイコンにしてしまうかだなぁ -->