<!DOCTYPE html>
<html>
  <head>
    <title>わたくしごと！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body id='about_body'>
    <header>
      <div class="col-lg-2" id="about-side">
        <ul>
          <% if admin_signed_in? || user_signed_in? %>
              <% if user_signed_in? %>
                <li class='about_li'><%= link_to 'マイページ',user_path(current_user.id) %></li>
              <% elsif admin_signed_in? %>
                <li class='about_li'><%= link_to 'マイページ', top_path %></li>
              <% end %>
            <li class='about_li'><%= link_to 'about', about_path %>
            <li class='about_li'><%= link_to 'week', week_path %></li>
            <li class='about_me'><%= link_to '^_^', secret_path %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <script>
    </script>
  </body>
</html>