<!DOCTYPE html>
<html>
  <head>
    <title>わたくしごと！</title>
    <meta name='viewport' content='width=device-width'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
      <!--   ↓これでjQueryが後に来るようになっていた -->
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body class="head-body">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class='dark dark_loader'>
              <div ckass='loading_anime'></div>
            </div>

          <span id='watakushigoto' class='col-md-offset-6'>
            わたくしごと！
          </span>
          <div class="navbar-header">
              <ul class="nav navbar-nav respondNav">
                <li><%= link_to 'Mypage', user_path(current_user.id) %></li>
                <li><%= link_to 'About',about_path %></li>
                <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete  %></li>
              </ul>
          </div>
        </div>

          <div class="collapse navbar-collapse" id="navbarEexample8">
            <ul class="nav navbar-nav navbar-right">
              <% if admin_signed_in? %>
                <li><%= link_to 'マイページ', top_path %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <li><%= link_to 'ABOUT', about_path %></li>
              <% elsif user_signed_in? %>
                <li>
                  <%= link_to attachment_image_tag(current_user, :profile_image, :fill, 150, 150, fallback: '/images/no_image.png', size:'150x150'), user_path(current_user.id), id:'mypage_li', class: ' user_link img-circle profile-thumb my-img' %>
                </li>
                <br>
                <li class='user_link'>
                  <%= link_to link_to image_tag('/images/logout.png', :id => "logout_li"), destroy_admin_session_path, method: :delete %>
                </li>
                <br>
                <li class='user_link'>
                  <%= link_to image_tag('/images/about.png', :id => "about_li"), about_path%>
                </li>
              <% else %>
                <li><%= link_to "ログイン", new_user_session_path %></li>
                <li><%= link_to "新規登録", new_user_registration_path %></li>
                <li><%= link_to 'ABOUT', about_path%></li>
              <% end %>
            </ul>
          </div>
      </nav>
    </header>
    <%= yield %>
     <footer>
     <!-- <small>＆copy; 2018 大槻 inc.</small> -->
     </footer>


  </body>


</html>
